<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogos Grátis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <header>
        <h1>Free Games</h1>
    </header>
    <main>
        <section> 
            <h2>Brawlhalla</h2>
            <p>Brawlhalla é um jogo multijogador de pvp (Jogador vs Jogador). Onde pode se escolher um personagem para lutar contra seus amigos em arenas</p>
        </section>

        <img src="{{ url_for('static',  filename='Brawhalla.png')}}" alt="Capa brawlhalla" />

        <section>
            <h2>Plataforma:</h2>
            <p>Celular, Computador e vídeo-game.</p>
        </section>

        <section>
            <h2>Gênero:</h2>
            <p>PvP</p>
        </section>

        <section>
            <h2>Fallout Shelter</h2>
            <p>Os jogadores constroem e gerenciam seus abrigos como supervisores, líderes e coordenadores.</p>
        </section>

        <img src="{{ url_for('static',  filename='Fallout.png')}}" alt="Capa fallout" />

        <section>
            <h2>Gênero:</h2>
            <p>Jogo eletrônico de construção e gerenciamento.</p>
        </section>

        <section>
            <h2>Plataforma:</h2>
            <p>Celular(Android e IOS), PC e video-games.</p>
        </section>

        <section>
            <h2>Doki Doki Literature Club</h2>
            <p>O jogo é apresentado como um simulador de namoro onde o jogador pode interagir com diversas garotas.</p>
        </section>

        <img src="{{ url_for('static',  filename='Doki doki.png')}}" alt="Doki doki capa" />

        <section>
            <h2>Gênero:</h2>
            <p>Visual novel e Terror psicológico.</p>
        </section>

        <section>
            <h2>Plataforma:</h2>
            <p>Steam e Nintendo switch.</p>
        </section>

        <section>
            <h2>Persona Phantom X</h2>
            <p>Um jogo gacha lançado recentemente da franquia persona.</p>
        </section>

        <section>
            <h2>Gênero:</h2>
        </section>
       
        <a href="https://store.steampowered.com/app/291550/Brawlhalla/" target="_blank">Visite Brawlhalla</a>
        <a href="https://store.steampowered.com/app/588430/Fallout_Shelter/" target="_blank">Visite Fallout Shelter</a>
        <a href="https://store.steampowered.com/app/698780/Doki_Doki_Literature_Club/" target="_blank">Visite DDLC</a>
    </main>
    <footer>
        <p>&copy; 2025 - Sobre os Jogos. Todos os direitos reservados para as suas devidas empresas e desenvolvedores.
</p>
    </footer>
</body>
</html>