<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Jogos</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
</head>
<body>
    <header>
        <h1>Games and their stories</h1>
    </header>
    <main>
        <section>
            <h2>MiSide</h2>
            <p>O jogo segue visão do protagonista (Você) um homem trabalhador que decide baixar um jogo
chamado: Miside, onde nos temos uma pequena personagem e uma casa da personagem Mita uma garota
que usa uma saia azul escura e roupas vermelhas ela parece gentil, mas ela esconde um segredo no guardaroupa dela.</p>
        </section>

        <img src="{{ url_for('static',  filename='Miside_logo.png')}}" alt="Logo de Miside" />
        
        <section>
            <h2>Gameplay:</h2>
            <p>Meio monótona no começo, mas o jogo começa a ser uma mistura de pequenos minigames (Mini
jogos) no próprio jogo. Ele é focado em terror com algumas mecânicas diferentes e fazendo referências a
outros jogos, mesmo não sendo tão incrível como outros jogos de terror é uma boa opção.</p>
        </section>

        <img src="{{ url_for('static',  filename='Miside1.png')}}" alt="Uma das partes da gameplay" />

        <section>
            <h2>História:</h2>
            <P>Você baixa MiSide no seu celular e a personagem Mita te transporta, para o jogo por meio de uma
maquina, Ela que te transportou para lá é meio louca, onde você descobre que tem outra versão da Mita no
armário em uma espécie de meio que é um porão. Essa outra versão da personagem, é chamada: de Mita
gentil, que tem o plano de ir até o núcleo desse mundo e resetar essa Mita maluca, fazendo você ir passando
por várias versões conhecendo várias outras variações dela,até chegar no Núcleo para poder resetar a Mita
maluca. </P>
        </section>

        <img src="{{ url_for('static',  filename='Miside2.png')}}" alt="Outra parte da gameplay" />

        <section>
            <h2>Plataforma:</h2>
            <p>Esta apenas disponível,em PC por enquanto.</p>
        </section>
        <section>
            <h2>Ensinamentos:</h2>
            <p>Nem todo mundo é o que você pensa, ela pode parecer alguém gentil e confiável, mas você não
sabe o que ela esconde!</p>
        </section>
        <section>
            <h2>Danganronpa</h2>
            <p>Um jogo de detetive, que tem um visual novel onde seguimos a perspectiva de Makoto um garoto
comum com nada de especial, mas ele consegue a admissão para uma academia de super talentos onde ele
foi convidado, pois ele foi aleatoriamente selecionado como o super estudante da sorte onde cada estudante
de lá tem uma, “habilidade especial”. Esse jogo também tem uma adaptação em anime.</p>
        </section>

        <img src="{{ url_for('static',  filename='Danganronpa_logo.png')}}" alt="logo de Dangaronpa" />

        <section>
            <h2>Gameplay:</h2>
            <p> Siga a história, veja os seus desfechos enquanto você coleta pistas. Após coletar todas as
evidências e pistas, você vai participar de um tribunal usando as evidências, para desmascarar contradições e
descobrir quem matou. Danganronpa, foi feito para ser jogado caso você não saiba sobre o que acontecerá.
Caso já tenha visto, é recomendado, jogar outros jogos da franquia Danganronpa, como: o 2 ou o V3.</p>
        </section>
        
        <img src="{{ url_for('static',  filename='Danganronpa1.png')}}" alt="Uma parte da gameplay" />

        <section>
            <h2>História:</h2>
            <p>Makoto vai para essa escola prestigiada e ao chegar lá acaba ficando meio desnorteado. Desmaia e
ao acordar percebe, que a escola está trancada em todas os locais. Como: as janelas com aço para ninguém
poder escapar. Ele encontra os outros super alunos e eles têm que viver pelo resto das suas vidas ali ou
também tem a opção de poder, se “graduar”, matando alguém e conseguindo a sua liberdade. Explicado por
um pequeno urso chamado: Monokuma, só que para, se “graduar”, É necessário matar e não ser pego. Caso
isso aconteça, o jogador vai sofrer uma, “punição” que significa morte, mas se essa pessoa conseguir se safar
todos os outros morrem e este individuo, consegue se graduar.</p>
        </section>

        <img src="{{ url_for('static',  filename='Danganronpa2.png')}}" alt="Outra parte da gameplay" />

        <section>
            <h2>Plataforma:</h2>
            <p>Pode ser jogado em vários consoles ou pelo computador.</p>            
        </section>
        <section>
            <h2>Ensinamentos:</h2>
            <p>Ele ajuda a formar pensamentos lógicos, para descobrir o que está de errado em cada tribunal.
Demostrando que, em uma situação desesperadora, cada um pode fazer qualquer coisa absurda.</p>
        </section>
        <section>
            <h2>Celeste</h2>
            <p>O jogo segue a visão de Madeline, em sua busca para superar seus demônios interiores. Subindo
uma montanha magica, chamada: Celeste. Um jogo de plataforma, onde seu objetivo é passar pelos desafios,
(parkours), com um pouco de puzzle. Até chegar no topo da montanha!</p>
        </section>

        <img src="{{ url_for('static',  filename='Celeste_logo.png')}}" alt="logo de Celeste" />

        <section>
            <h2>Gameplay:</h2>
            <p>Passe por plataformas e tente não cair, o player possui um dash, que pode ser utilizado para passar
pelas fases e coletar morangos. Onde cada estágio completado, vai ficando mais difícil, com mecânicas novas
e divertidas, com o objetivo de entreter o jogador. Apesar da sua dificuldade é um jogo amado por muitos!
</p>
        </section>

        <img src="{{ url_for('static',  filename='Celeste1.png')}}" alt="Uma parte da gameplay" />

        <section>
            <h2>História:</h2>
            <p>Madeline está tentando superar os seus medos e decidi escalar a montanha, Celeste. Ela é a mais
alta conhecida nesse mundo. A cada fase que passamos descobrimos mais sobre, A protagonista e como ela
supera seus medos, como: o de lugares altos. Além de que conhecemos o seu alter ego Badeline, que é a
versão dela, que representa os medos, inseguranças, as emoções negativas da personagem. Que tenta
impedir ela mesma,de escalar a montanha.</p>
        </section>

        <img src="{{ url_for('static',  filename='Celeste2.png')}}" alt="Outra parte da gameplay" />

        <section>
            <h2>Plataforma:</h2>
            <p>Pode ser jogado pelo: Ps4, Xbox, PC etc.</p>
        </section>
        <section>
            <h2>Ensinamentos:</h2>
            <p>Celeste ensina o jogador, a tentar superar os seus próprios medos, trazendo uma história de
superação e autoconhecimento.</p>
        </section>
        <section>
            <h2>Inscryption</h2>
            <p>Um jogo de cartas de turno, onde seu objetivo é vencer um jogone passar por vários desafios para
conseguir ir para a próxima fase. Contendo muitos enigmas, cada um mais diferente que o outro e vários
segredos escondidos.</p>
        </section>

        <img src="{{ url_for('static',  filename='Inscryption_logo.png')}}" alt="logo de Inscryption" />

        <section>
            <h2>Gameplay (O básico):</h2>
            <p> O jogo consiste em uma balança, que quem causar 5 de dano primeiro vence, mas a balançar vai
mexendo, com o total de dano. Que faz o jogador causar 1 de dano, consequentemente faltando 4, entranto
se atacarem você e causarem 2 de dano, vai faltar só quatro para o adversário e 6 para o player!</p>
        </section>
        <section>
            <h2>Gameplay (Cartas):</h2>
            <P>O player começa o jogo com um número de cartas, só podendo escolher comprar uma carta
normal ou um esquilo. O esquilo serve como sacrifício para cartas normais, que custam um número de
sangue, que é o necessário de ser sacrificado para invocá-la, tendo uma similaridade a um outro jogo,
chamado: Yu-Gi-Oh. Algumas cartas têm um símbolo que contem um efeito especial. Exemplos de símbolos:
Asas fazem o player atacar por cima, causando dano direto a de escudo com asas, que bloqueia os ataques
aéreos e a de veneno, (Que mata qualquer um com um ataque, menos o próprio jogador). Cada vez que se
joga é diferente, para testar vários tipos de combinações. Conforme for passando, o jogador começa a
ganhar moedas, com um osso. A cada sacrifício, que servem para invocar outras cartas, toda via pelo custo
dessas moedas.  </P>
        </section>

        <img src="{{ url_for('static',  filename='Inscryption1.png')}}" alt="Uma parte da gameplay" />

        <section>
            <h2>Gameplay (Mapa):</h2>
            <P>No mapa, o jogador consegue pequenas melhorias, podendo aumentar a vida, o dano das cartas ou
fazer sacrifícios para transferir, o símbolo de uma para outra. Também pode ir na opção mochilas, para pegar
itens. Enquanto o player enfrenta adversários ou alguns desafios. Caso ele tiver uma carta com mais de 2 de
ataque, em três, que forem mostradas (aleatoriamente do próprio baralho), Ele ganhará uma nova.</P>
        </section>
        <section>
            <h2>Gameplay (Itens e Totens):</h2>
            <p> Eles podem ser adquiridos no mapa. Itens servem para auxiliar nas partidas, podendo fazer ganhar
pontos para a vitória. Utilizando um alicate para tirar o próprio dente,(contando como 1 de dano), ou usar um
leque para deixar todas as suas cartas atacarem, por cima. Contendo o efeito das asas, os totens tem duas
partes. A parte de cima que representa a categoria do animal, que beneficia e a parte de baixo, Apresenta um
símbolo para caso o jogador, tiver o animal daquela categoria. Se a parte de cima for de insetos e a parte de
baixo de asas, todo o bicho que for jogado, vai ter o símbolo de asas e ter a possibilidade de atacar por cima.
</p>
        </section>
       
        <img src="{{ url_for('static',  filename='Inscryption2.png')}}" alt="Outra parte da gameplay" />

        <section>
            <h2>História:</h2>
            <p>O jogo se passa em uma cabana, onde o player acorda em uma cadeira algemado. Forçado a jogar
um jogo de cartas, que algo desconhecido(não dá para identificar se é humano ou outra coisa),vai ensinar e
apresentar as regras. Com o passar do tempo, pode perceber que algumas cartas tem vida e elas interagem
com o jogador, conforme as decisões, que o mesmo fizer. Como o de sacrificar uma carta consciente, se ela
voltar comentará sobre isso. O objetivo é conseguir vencer dessa coisa, (que esta te forçando a jogar). A
história é desenrolada por pequenas gravações que tem a opção de assistir ou pular, entrando não é tão fácil
assim, precisa completar os requisitos! Mesmo conseguindo passar, ainda tem a possibilidade de perder.
Cada vez que isso acontece, cria-se uma carta nova, com o nome de sua própria escolha e apresenta alguns
atributos, (Ela é Você). Ele tira uma foto do jogador e vira aquela sua carta. Fazendo um ciclo, onde contém
uma série de desafios. Para conseguir a fita da câmera, precisa tirar fotos dele e fazê-lo virar uma carta. O
jogo consiste em várias etapas, e isso é apenas da primeira, (Sendo a mais marcante), tendo ainda mais 2
adiante, com mecânicas diferentes e outros desafios.</p>
        </section>
        <section>
            <h2>Plataforma:</h2>
            <p> O jogo esta disponível na Steam, Xbox (One, Series X/S), PlayStation(4 e 5) e Nintendo Switch.</p>
        </section>
        <section>
            <h2>Ensinamentos:</h2>
            <p> Estruir a desafiar sua mente, com quebra-cabeças e com estratégias, para conseguir vencer e
finalizar o jogo.</p>
        </section>
        <section>
            <h2>Read Dead Redemption 2</h2>
            <p>A história é ambientada em 1899, num cenário fictício do Velho Oeste norte-americano, e
acompanha Arthur Morgan(protagonista)e a gangue Van der Linde enquanto eles lutam para sobreviver após
um assalto falhado em Blackwater. A gangue, perseguida por agentes federais e caçadores de recompensas, é
forçada a roubar, assaltar e lutar para sobreviver no coração dos Estados Unidos.</p>
        </section>

        <section>
        
            <h2>Gameplay</h2>
            <p>Possui três tipos diferentes de trilhas sonoras: narrativa, que é ouvida durante as missões da história do jogo; interativa, quando o jogador está percorrendo o mundo aberto ou no modo multijogador; e ambiental, que inclui canções tocadas ao redor de uma fogueira ou quando um personagem está acampando.</p>

            <section>

        </section>

        <img src="{{ url_for('static',  filename='RedDead_logo.png')}}" alt="logo de Read Dead Redemption" />

        <section>
            <h2>Plataformas:</h2>
            <p>Disponível para jogar em PlayStation 4, PlayStation 5, Xbox(One e X/S) e PC (Windows).</p>
        </section>

        <img src="{{ url_for('static',  filename='RedDead1.png')}}" alt="Uma parte da gameplay" />

        <section>
            <h2>Ensinamentos:</h2>
            <p>Ensina ao jogador sobre ecologia, história natural e sobre como a imersão e a aprendizagem ativa
podem ser mecanismos-chave para a aprendizagem indireta. Além disso, o jogo também pode servir para
ensinar sobre o mundo do Oeste Selvagem, com a sua violência e moralidade ambígua. E principalmente que
todos podem se arrepender de seus erros e correr em busca da sua redenção, mesmo sendo tarde demais.
</p>
        </section>

        <img src="{{ url_for('static',  filename='RedDead2.png')}}" alt="Outra parte da gameplay" />

        <section>
            <h2>Outlast 1</h2>
            <p>É uma história de terror de sobrevivência que segue o jornalista Miles Upshur, que investiga o Asilo
Mount Massive, um antigo hospital psiquiátrico supostamente reaberto pela Murkoff Corporation. Miles
chega ao asilo depois de receber uma dica anónima sobre o local, e logo se depara com um cenário horrível:
pacientes psicóticos, mortes e sangue por todo o lado. O jogo coloca o jogador num cenário de terror, onde o
protagonista tem que se esconder e escapar dos inimigos, sem a possibilidade de lutar.</p>
        <img src="{{ url_for('static',  filename='Outlast_logo.jpg')}}" alt="logo de Outlast" />
        </section>

        <section>

            <h2>Gameplay</h2>
            <p>Mecanica de se esconder,não podendo atacar os inimigos,sendo empurrados por eles e em cada fase o jogador terá que completar um série de objetivos para liberar a próxima parte.</p>

        </section>
        
        <section>
            <h2>Plataformas:</h2>
            <p>Microsoft(Windows), PlayStation 4, Xbox One, Nintendo Switch e também através da Steam e Epic
Games.</p>
        </section>

        <img src="{{ url_for('static',  filename='Outlast1.jpg')}}" alt="Uma parte da gameplay" />

        <section>
            <h2>Ensinamentos:</h2>
            <p>Explica ao jogador sobre a importância do esconderijo e fuga. A necessidade de utilizar recursos de
forma estratégica e de valorizar a visão noturna da câmera. O jogo também demonstra como a exploração
minuciosa de documentos e informações pode revelar a história e o contexto do cenário de horror. E
principalmente, até onde o ser humano pode chegar para atender suas ambições e objetivos mais perversos! </p>
        
        <img src="{{ url_for('static',  filename='outlast2.jpg')}}" alt="Gameplay uma parte" />
        </section>
        <a href="{{ url_for('homepage') }}" target="_blank">Free games</a>

        <a href="https://store.steampowered.com/app/2527500/MiSide/" target="_blank">Visite MiSide</a>
        <a href="https://store.steampowered.com/app/413410/Danganronpa_Trigger_Happy_Havoc/" target="_blank">Visite Danganronpa</a>
        <a href="https://store.steampowered.com/app/504230/Celeste/" target="_blank">Visite Celeste</a>
        <a href="https://store.steampowered.com/app/1092790/Inscryption/" target="_blank">Visite Inscryption</a>
        <a href="https://store.steampowered.com/app/1174180/Red_Dead_Redemption_2/" target="_blank">Visite RDR2</a>
        <a href="https://store.steampowered.com/app/238320/Outlast/" target="_blank">Visite Outlast</a>
    </main>
    <footer>
        <p>&copy; 2025 - Sobre os Jogos. Todos os direitos reservados para as suas devidas empresas e desenvolvedores.
</p>
    </footer>
</body>
</html>